<h1>Edit a job</h1>
<%= simple_form_for [:admin, @job] do |f|%>
  <%= f.input :title%>
  <%= f.input :description%>
  <%= f.input :wage_lower_bound, :label => "LOWER"%>
  <%= f.input :wage_upper_bound, :label => "UPPER"%>
  <%= f.input :contact_email%>
  <%= f.input :is_hidden%>
  <%= f.submit 'Submit'%>
  <hr>
  <%= f.input :wolf_name%>
  <%= f.input :is_wolf%>
  <%= f.input :lion_name%>
  <%= f.input :is_lion%>
  <%= f.input :dragon_name%>
  <%= f.input :is_dragon%>
  <hr>
  <% if @job.image.present? %>
    <span>JOB</span> <br>
    <%= image_tag(@job.image.thumb.url) %>
  <% end %>
  <%= f.input :image, as: :file %>
<% end%>
