<h3>RESUME <%= @job.title%></h3>
<hr>
<%= simple_form_for [@job, @resume] do |f|%>
  <%= f.input :content%>
  <%= f.input :attachment%>
  <%= f.submit "SEND"%>
<% end%>
<%= audio_tag "/game.mp3", id: "sound", class: "audio-to-play", autoplay: true %>
